.nav-links {
    display: flex;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;

    margin-left: 10px;
    max-width: 1000px;
    justify-content: space-between;
    text-align: center;
    list-style-type: none;
    padding-left: 0px;
}

.nav {
    display: flex;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}


.nav-image img {
    width: 150px;
}

.nav-links li {
    padding: 1rem 2rem 1.15rem;
    text-transform: uppercase;
    cursor: pointer;
    color: #000000;
    min-width: 80px;
    margin: auto;
}

.nav-links li:hover {
    background-color: rgb(196, 252, 205);
    color: #27262c;
    animation: spring 300ms ease-out;
    font-weight: bold;
}

.nav-links li:active {
    transform: translateY(4px);
}

@keyframes spring {
    15% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(1.2, 1.1);
    }

    40% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(0.95, 0.95);
    }

    75% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(1.05, 1);
    }

    100% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(1, 1);
    }
}