.main-slide {
    display: none
}

.w3-left,
.w3-right,
.w3-badge {
    cursor: pointer;
    color: #575656 !important;

}

.w3-right {
    float: right !important;
}

.w3-left {
    float: left !important;
}

.w3-badge {
    height: 13px;
    width: 13px;
    padding: 0;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
}

.w3-border {
    border: 2px solid #575656 !important;
    margin: 2px;
}

.w3-large {
    font-size: 18px !important;
}

.w3-text-white,
.w3-hover-text-white:hover {
    color: #fff !important;
}

.w3-center {
    text-align: center !important;
}

.w3-large {
    font-size: 18px !important;
}

.main-slide {
    height: 100%;
}

.w3-container:after,
.w3-container:before,
.w3-panel:after,
.w3-panel:before,
.w3-row:after,
.w3-row:before,
.w3-row-padding:after,
.w3-row-padding:before,
.w3-cell-row:before,
.w3-cell-row:after,
.w3-clear:after,
.w3-clear:before,
.w3-bar:before,
.w3-bar:after {
    content: "";
    display: table;
    clear: both;
}


.partner-slider-container {
    position: relative;
    overflow: hidden;
}

.partner-slider {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.5s ease-in-out;
}

.partner-slide-container {
    margin: 0 5px;

    flex: 0 0 auto;
    width: 150px;
    margin-right: 15px;
}

.partner-slider img {
    display: block;
    width: 100%;
    height: auto;
}

.slider-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
}



.prev-button,
.next-button {
    background: transparent;
    border: none;
    font-size: 32px;
    cursor: pointer;
}

.prev-button:focus,
.next-button:focus {
    outline: none;
}